<h1>Snack Voting</h1>
<h2>Vote on the snacks you want to see in this month's rotation</h2>
<hr />
<h3>{{ remaining }} Votes Remaining</h3>

<section *ngIf="!loading; else loadingText">
  <div *ngIf="snacks.length > 0">
    <table>
      <tr>
        <th>
          <h3>Available Items</h3>
        </th>
        <th>
          <div>{{ snacks.length }}</div>
        </th>
      </tr>
      <tr *ngFor="let snack of snacks">
        <app-snack-row
          [votesCast]="votesCast"
          [snack]="snack"
          [remaining]="remaining"
          (voteEvent)="receiveVote($event)"
        ></app-snack-row>
      </tr>
    </table>

    <h2>Selection</h2>
    <span>{{ votesCast.length }}</span>
    <hr />
    <ul *ngFor="let snackVote of votesCast">
      <app-snack-selection
        [snackVote]="snackVote"
        [snacks]="snacks"
      ></app-snack-selection>
    </ul>
  </div>
</section>
<ng-template #loadingText> Loading... </ng-template>
<div *ngFor="let error of errors">
  <app-error-message [error]="error"></app-error-message>
</div>
