p {
  color: white;
  margin: 12px;
}
section {
  display: grid;

  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: left;
  padding: 10px;
}

@media (max-width: 800px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 801px) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
