<footer class="site-ft">
  <div class="footer u-constrainer">
    <div class="footer-primary">
      <a class="footLogo" href="#home">
        <svg viewBox="0 0 900 300">
          <use xlink:href="#logo"></use>
        </svg>
      </a>
    </div>
    <div class="footer-secondary">
      <nav class="hList hList_divided u-vr_x3">
        <a class="navLink navLink_dark" href="#home">Home</a>
        <a class="navLink navLink_dark" href="#current">Current</a>
        <a class="navLink navLink_dark" href="#voting">Voting</a>
        <a class="navLink navLink_dark" href="#signup">Sign Up</a>
      </nav>
      <small class="finePrint"
        >&copy; The Nerdery | 9555 James Ave S #245, Bloomington, MN
        55431</small
      >
    </div>
  </div>
</footer>
