<div class="site-bd">
  <div class="site-bd-section site-bd-section_gray">
    <div class="u-constrainer">
      <div class="layoutPanel">
        <div class="layoutPanel-hd">
          <div class="layoutPanel-hd-title">
            <h2 class="hdg hdg_2 mix-hdg_dark">Sign up for Snafoo updates!</h2>
          </div>
        </div>
        <div class="layoutPanel-bd">
          <div class="grid">
            <div class="grid-col grid-col_2of3">
              <form class="inputForm">
                <div class="inputForm-item inputForm-item_half">
                  <label class="u-isVisuallyHidden" for="form-firstname"
                    >Fist Name</label
                  >
                  <input
                    class="inputForm-text"
                    type="text"
                    name=""
                    placeholder="Fist Name"
                  />
                </div>
                <div class="inputForm-item inputForm-item_half">
                  <label class="u-isVisuallyHidden" for="form-lastname"
                    >Last Name</label
                  >
                  <input
                    class="inputForm-text"
                    type="text"
                    name=""
                    placeholder="Last Name"
                  />
                </div>
                <div class="inputForm-item inputForm-item_half">
                  <label class="u-isVisuallyHidden" for="form-email"
                    >Email</label
                  >
                  <input
                    class="inputForm-text"
                    type="text"
                    name=""
                    placeholder="Email"
                  />
                </div>
                <div class="inputForm-item inputForm-item_half">
                  <label class="u-isVisuallyHidden" for="form-phonenumber"
                    >Phone Number</label
                  >
                  <input
                    class="inputForm-text"
                    type="text"
                    name=""
                    placeholder="Phone Number"
                  />
                </div>
                <div class="inputForm-item">
                  <label class="u-isVisuallyHidden" for="form-message"
                    >Message</label
                  >
                  <textarea
                    class="inputForm-area"
                    placeholder="Message"
                  ></textarea>
                </div>
                <div class="inputForm-item">
                  <div class="inputForm-item-checkGroup">
                    <input
                      id="form-employee"
                      class="u-isVisuallyHidden"
                      type="checkbox"
                    />
                    <label for="form-employee">I am a Nerdery employee</label>
                  </div>
                  <div class="inputForm-item-checkGroup">
                    <input
                      id="form-notify"
                      class="u-isVisuallyHidden"
                      type="checkbox"
                    />
                    <label for="form-notify"
                      >Notify Me for Special Offers!</label
                    >
                  </div>
                </div>
                <div class="inputForm-item">
                  <input class="btn btn_dark" type="submit" value="Sign Up" />
                </div>
              </form>
            </div>
            <div class="grid-col grid-col_1of3">
              <div class="media u-vr_x4">
                <div class="media-figure">
                  <svg class="icon">
                    <use xlink:href="#icon-email"></use>
                  </svg>
                </div>
                <div class="media-bd">
                  <span class="assideText">info@nerdery.com</span>
                </div>
              </div>
              <div class="media u-vr_x4">
                <div class="media-figure">
                  <svg class="icon">
                    <use xlink:href="#icon-fax"></use>
                  </svg>
                </div>
                <div class="media-bd">
                  <span class="assideText">(877) 664.6373</span>
                </div>
              </div>
              <div class="media u-vr_x4">
                <div class="media-figure">
                  <svg class="icon">
                    <use xlink:href="#icon-locate"></use>
                  </svg>
                </div>
                <div class="media-bd">
                  <span class="assideText">
                    The Nerdery Snafoo Team
                    <br />9555 James Ave. S. <br />Bloomington MN, 55431
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
