<div class="site-bd">
  <div class="site-bd-section">
    <div class="hero-banner">
      <div class="heroBanner-content u-constrainer">
        <div class="heroBanner-content-hd">
          <h1 class="hdg hdg_1">Nerdery Snack Food System</h1>
        </div>
        <div class="heroBanner-content-bd">
          <p class="copy">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="heroBanner-content-ft">
          <a routerLink="/voting" routerLinkActive="active">
            <button class="btn">Vote Now</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
