<h1>Nerdery Snack Food System</h1>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum inventore
  architecto maiores obcaecati quidem. Cumque doloribus odio consequatur eos,
  totam repudiandae pariatur earum officiis consequuntur magnam, molestiae
  recusandae vero temporibus? Lorem ipsum dolor sit, amet consectetur
  adipisicing elit. Sed ad eum nobis, iusto doloribus veritatis magni quo
  voluptas, debitis modi, quia repellat rerum ullam dolores reiciendis similique
  ut nostrum officia?
</p>

<a routerLink="/voting" routerLinkActive="active">
  <button>Vote Now</button>
</a>
